@import "Function", "Variables"

@mixin Xl_Screen
  @media (min-width: 1300px)
    @content

@mixin L_Screen
  @media (min-width: 900px)
    @content

@mixin Md_Screen
  @media (max-width: 900px)
    @content

@mixin Sm_Screen
  @media (max-width: 640px)
    @content

@mixin Xs_Screen
  @media (max-width: 480px)
    @content

@mixin Apply( $list )
  @each $class in $list
    @extend .#{$class}

@mixin fontSize( $size )
  font:
    size: $size
    size: CalculateRem( $size )

@mixin Border( $color )
  @each $b in $border
    $i: index($border, $b)
    &-#{$i}
      border: $b solid $color

@mixin SetHeight( $h )
  height: $h
  line-height: $h

@mixin Truncate($clamp, $orient: 'vertical')
  display: -webkit-box
  -webkit-line-clamp: $clamp
  -webkit-box-orient: #{$orient}
  overflow: hidden

@mixin Size( $s )
  width: $s
  height: $s

@mixin UserSelect($select)
  -webkit-user-select: $select
  -moz-user-select: $select
  -ms-user-select: $select
  user-select: $select