.events__section
  padding: 50px 0 56px
  @include Md_Screen
    order: 7
    padding: 30px 0 38px
  .section__title
    margin:
      bottom: 27px
  .swiper-slide
    padding: 10px 0
    @include L_Screen
      width: calc(33.33333% - #{$SpaceBetweenItem})
      margin:
        left: ($SpaceBetweenItem + 3)
    @include Xl_Screen
      width: calc(25% - #{$SpaceBetweenItem})
      margin:
        left: $SpaceBetweenItem
    @include Xxl_Screen
      width: calc(20% - #{$SpaceBetweenItem})
      margin:
        left: $SpaceBetweenItem
    @include Sm_Screen
      width: 178px
      &:first-of-type
        margin-right: $mPadding
      &:last-of-type
        margin-left: $mPadding
  .carousel__pagination
    margin: 35px 0 0