$SpaceBetweenItem: 32px

.p-home
  .bg--sky-blue
    background: transparentize($blue-100, ( 1 - .12 ))
    @include Sm_Screen
      background-color: #d0f4ff
  .m
    &-b
      &-17
        margin:
          bottom: (17px - 3)
    &-t
      &-20
        margin:
          top: 20px
      &-30
        margin:
          top: 30px
    &-r
      &-30
        margin:
          right: 30px
  &__line
    height: 2px
    border-radius: 2px
    margin: 0 27px 8px 29px
    &--blue
      background-color: #cff0ff
    &--blue-200
      background-color: #c5e8fe
  .carousel-btn
    margin-bottom: -2px
  //@import "slider_section"
  @import "heartbeat"
  @import "link"
  //@import "s-news_section"
  @import "info__section"
  //@import "recently-events_section"
  @import "static_section"
  @import "events_section"
  //@import "news_section"
  @import "heda-news_section"

