.slider
  &__section
    &::before
      content: " "
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 100%
      background: transparentize(#313a5a, ( 1 - .15 ))
      pointer-events: none
  &__pagination
    left: 50%
    bottom: 21px
    transform: translateX(-50%)
    text-align: center
    .swiper-pagination-bullet
      cursor: pointer
      position: relative
      display: inline-block
      @include Size( 16px )
      margin: 0 11px
      border: 2px solid $white
        radius: 50%
      transition: border $duration
      &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        width: 100%
        height: 100%
        border-radius: 50%
        background: $blue-100
        opacity: 0
        transition: opacity $duration, background $duration
      &-active
        &::before
          opacity: 1
      &:hover
        border:
          color: $blue-100
        &::before
          background: $white
          opacity: 1
  &__item
    height: 887px