$print-width: 21cm
$print-height: 29.7cm

.d-cart
  padding: 0 15px
  min-height: 100%
  background-color: #eee
  .max-w-800
    max-width: 800px
  .max-w-1200
    max-width: 1200px
  .max-w-2480
    max-width: 2480px
  @media print
    padding: 0 !important
    background-color: white !important
    @page
      size: A4
      //size: $print-width $print-height
      margin: 0 !important
      padding: 0 !important
    *
      -webkit-print-color-adjust: exact
    br, p, div
      display: none !important
    .print_cart
      background-color: $white !important
      width: $print-width
      height: $print-height
      max-width: $print-width