@import "resources/sass/base/Reset", "resources/sass/base/Function", "resources/sass/base/Mixins"
@import "base/Classes", "base/Media_Queries", "base/Focus", "base/Variables", "base/Transition", "base/Animation"

@font-face
  font-family: IranSans
  font-display: fallback
  src: url("/../fonts/IRANSansWeb(FaNum).eot")
  src: url("/../fonts/IRANSansWeb(FaNum).eot?#iefix") format('embedded-opentype'),
  url("/../fonts/IRANSansWeb(FaNum).woff2") format('woff2'),
  url("/../fonts/IRANSansWeb(FaNum).woff") format('woff'),
  url("/../fonts/IRANSansWeb(FaNum).ttf") format('truetype')

body
  direction: rtl
  font:
    size: 16px
    family: IranSans
  background: $white

// start --> views
@import "resources/sass/pages/login/index"
@import "page/Logout/index"
@import "page/Dashboard/index"
@import "page/create/index"
@import "page/news/create"
// end   --> views

// start --> components
@import "components/panel"
@import "components/aside"
@import "components/toolbar"
@import "components/progress"
@import "components/language"
@import "components/domains"
@import "components/image-panel"
@import "components/dropdown"
@import "components/select"
@import "components/publish"
@import "components/breadcrumb"
@import "components/notification"
// end   --> components

