.env
storage/logs
storage/framework/*
storage/proxies/*
vendor/*
bootstrap/cache/*
.idea/
tests/_support
tests/_output
tests/_output/
tests/_data/
docker-compose/mongo-report/*
composer.lock
node_modules


storage/oauth-private.key

storage/oauth-public.key

package-lock.json

public/upload/images/*
public/css/*
public/js/*
public/images/*

