.env
storage/logs
storage/framework/*
storage/proxies/*
vendor/*
bootstrap/cache/*
.idea/
tests/_support
tests/_output
tests/_output/
tests/_data/
composer.lock
node_modules
docker-compose/mongodb-report/*

