.n-show-page
  .color-black
    color: #444444
  .n-show
    &__details
      padding:
        top: 18px
      .i-page__flower_line
        top: auto
        bottom: 20px
        @include Md_Screen
          bottom: 0
    &__description
      margin: 22px 0 24px
      padding: 22px 22px 12px
      background: #eff3f7
    &__caption
      padding: 1.45em 0
      a
        color: $blue-100
        border-bottom: 1px solid transparent
        transition: color $duration, border-bottom-color $duration
        &:hover
          color: $blue-200
          border-bottom-color: $blue-200
      div[dir="auto"], p[dir="auto"]
        line-height: 2
      div:empty, p:empty
        min-height: 24px
      pre
        white-space: normal
      blockquote
        color: rgba(0, 0, 0, .8)
        padding: .8rem
        font-style: italic
        border-right: 3px solid rgba(0, 0, 0, .1)
        background: rgba(0, 0, 0, .026)
        margin: 1rem 0
      ol, ul
        margin: 1rem 0
      ol
        padding: 0 1rem
        & > li
          list-style: inherit
      ul
        & > li
          display: flex
          align-items: flex-start
          &::before
            content: " "
            flex-shrink: 0
            @include Size( 10px )
            border: 1px solid $blue
              radius: 50%
            margin: 10px 0 0 11px
            background: #bde8fa
            vertical-align: middle
    &__release
      @include L_Screen
        margin-bottom: 30px
      @include Md_Screen
        margin: 20px 0 10px
    &__title
      align-self: flex-start
      @include Truncate( 2 )
    &__cover
      width: 45%
      height: 210px
      margin:
        left: 26px
      background: #eaeaea
      @include Xl_Screen
        width: 33.3333%
      @include Md_Screen
        width: 100%
  .relative-news
    margin-top: 35px
    @include Sm_Screen
      margin-top: 5px
    &__title
      margin-top: 45px
      @include Md_Screen
        margin-top: 35px
      @include Sm_Screen
        margin-top: 15px
    &__cart
      border:
        color: transparentize(#d2e3f4, ( 1 - .79 ))
      &::before
        box-shadow: 0 2px 4px 0 #f2f2f5
      &::after
        box-shadow: 0 2px 17px 0 transparentize(#8dd8f8, (1 - .51))
        opacity: 0
      @include L_Screen
        &:hover
          &::before
            opacity: 0
          &::after
            opacity: 1
      &_cover
        height: 170px
        @include Sm_Screen
          height: 112px
      &_body
        padding: 16px 18px
      &_link
        margin:
          top: 8px
        &::before
          content: " "
          display: inline-block
          width: 30px
          height: 19px
          background: url('/../images/ic_left-arrow--blue.svg') no-repeat center
            size: contain
          margin:
            left: 10px
          pointer-events: none
          vertical-align: middle
          @include Sm_Screen
            width: 22px
            height: 12px
            margin-left: 6px
  .swiper-slide
    padding: 10px 0
    @include L_Screen
      width: calc(33.33333% - #{$SpaceBetweenItem})
      margin:
        left: ($SpaceBetweenItem + 3)
    @include Xl_Screen
      width: calc(25% - #{$SpaceBetweenItem})
      margin:
        left: $SpaceBetweenItem
    @include Xxl_Screen
      width: calc(20% - #{$SpaceBetweenItem})
      margin:
        left: $SpaceBetweenItem
    @include Md_Screen
      width: calc(50% - #{$SpaceBetweenItem})
      margin-left: $SpaceBetweenItem
    @include Sm_Screen
      width: 178px
      margin-left: 0
      &:first-of-type
        margin-right: $mPadding
      &:last-of-type
        margin-left: $mPadding
  .carousel__pagination
    margin: 35px 0
  .m-l-8
      margin-left: 8px
  @include Sm_Screen
    .sm\:m-b-10
      margin-bottom: 10px