@keyframes progressBar
  from
    width: 0
  to
    width: 100%

@keyframes notification_in
  100%
    opacity: 1
    transform: translateY(0)

@keyframes notification_out
  to
    opacity: 1
    transform: translateY(0)
  from
    opacity: 0
    transform: translateY(12vh)

@keyframes spinner_loading
  from
    transform: translate(-50%, -50%) rotate(0)
  to
    transform: translate(-50%, -50%) rotate(360deg)

@keyframes skeleton
  0%
    opacity: 1
  40%
    opacity: .44
  60%
    opacity: .44
  100%
    opacity: 1

@keyframes progress
  0%, 5%
    width: 0
  70%, 100%
    width: 100%

@keyframes modalFadeOut
  from
    transform: translateY(0)
  to
    transform: translateY(35vh)

@keyframes modalFadeIn
  from
    transform: translateY(35vh)
  to
    transform: translateY(0)

@keyframes checked
  0%
    transform: scale(0)
  25%
    transform: scale(0)
  50%
    transform: scale(1)
  75%
    transform: scale(1.2)
  100%
    transform: scale(1)

@keyframes UISkeleton
  from
    background-position: -100% 0
  to
    background-position: 100% 0

@keyframes UISkeletonOpacity
  0%
    opacity: .6
  50%
    opacity: 1
  100%
    opacity: .6
