.fade
  &-enter, &-leave-to
    opacity: 0
  &-enter-active, &-leave-active
    transition: all .22s ease-in-out

.toggle
  &-enter, &-leave-to
    height: 0
    opacity: 0
    overflow: hidden
    visibility: hidden
  &-enter-active, &-leave-active
    transition: all .18s ease-in-out

.modal
  &-enter, &-leave-to
    opacity: 0
    .modal__body
      transform: translateY(35vh)
  &-enter-active, &-leave-active
    transition: all .24s ease-in-out
  &-enter-active
    .modal__body
      animation: modalFadeIn .24s ease-in-out
  &-leave-active
    .modal__body
      animation: modalFadeOut .24s ease-in-out