$column-gap: 15px
$label-height: 32px
$table-border: 1px solid #d2e3f4
$dropbox-background: #bde8fa
$border-color: darken($dropbox-background, 4%)
$mobile-padding: 30px 20px

.d-share
  &__alert
    margin: 0 auto 20px
  &__body
    padding: 66px 47px 64px
    @include Sm_Screen
      padding: $mobile-padding
  &__wrapper
    @include Sm_Screen
      padding: $mobile-padding
  &__label
    margin-bottom: 6px
  &__textarea
    resize: vertical
    min-height: 150px
    max-height: 250px
  &__row
    transition: height .12s ease-in-out
    will-change: transform
  &__inputs
    height: 176px
  &__drop
    color: $bayoux
    border-color: $dropbox-background
    padding: 75px 15px
    height: calc(100% - #{$label-height})
    background-color: transparentize($dropbox-background, (1 - .2))
    transition: background-color $duration, border-color $duration
    @include Sm_Screen
      padding: 66px 15px
    &--hover, &:active
      border-color: $border-color
      background-color: transparentize($dropbox-background, (1 - .4))
  &__submit
    background-color: $green
    line-height: 44px
    margin: 45px auto 0
    @include SpinnerLoading(22px , 3px, $white)
  &__preview
    color: $bayoux
    border-color: $dropbox-background
    padding: 15px 15px 15px 30px
    margin-bottom: 25px
    height: calc(100% - #{$label-height})
    background-color: transparentize($dropbox-background, (1 - .2))
    transition: background-color $duration, border-color $duration
  &__previewCover
    $size: 18%
    width: $size
    padding-bottom: $size
    margin-left: 20px
    border-color: darken($dropbox-background, 5%)
    background-color: transparentize($white, (1 - .4))
  &__previewImage
    top: 0
    left: 0
  &__secondTitle
    margin: 35px 0 45px
    @include Sm_Screen
      margin: 0
  .flex-2
    flex: 2 1 0
  &__table
    border: $table-border
    background-color: #f0f3f8
  &__cell
    padding: 12px 20px
    @include Sm_Screen
      flex: 1 !important
      text-align: center
  &__action
    width: 140px
    @include Sm_Screen
      width: 100%
  &__thead
    border-bottom: $table-border
    @include Sm_Screen
      border:
        bottom: none
        left: $table-border
  &__tr
    &:not(:last-of-type)
      border-bottom: $table-border
  &__tButton
    border-color: #dfe8f0
    padding: 6px 12px 6px 14px
  &__status
    padding: 2px 7px 3px 8px
    &--accept
      $color: #33c15d
      color: $white
      background-color: $color
      border-color: darken($color, 8%)
    &--delete
      color: $white
      border-color: lighten($red, 5%)
      background-color: lighten($red, 20%)
  &__confirmWrapper
    width: 44%
    padding: 20px 23px 18px
    transform: translateY(35vh)
    @include Xl_Screen
      width: 38%
    @include Md_Screen
      width: 64%
    @include Sm_Screen
      width: 90%
  &__confirmTitle
    margin-bottom: 42px
  &__confirmButton
    width: 90px
    line-height: 38px
    color: $black
    &:not(:last-of-type)
      margin-left: 12px
    &--submit
      color: $blue-200
      background: transparentize($sail, (1 - .64))
      @include SpinnerLoading(20px, 2px, $blue-200)
      @include L_Screen
        &:hover
          background-color: $sail
    &--discard
      @include L_Screen
        &:hover
          background-color: darken(#f2f2f2, 3%)
  &__confirm
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: transparentize($black, (1 - .7))
    z-index: 50
    &--opened
      animation: opacityFadeOut .1s ease-in-out forwards
      .d-share__confirmWrapper
        animation: modalFadeIn .24s ease-in-out .05s forwards
    &--closed
      animation: opacityFadeIn .1s ease-in-out .14s forwards
      .d-share__confirmWrapper
        animation: modalFadeOut .24s ease-in-out forwards
  &__progressbar
    $height: 13px
    height: $height
    margin: 10px 0 15px
    border:
      radius: $height
      color: lighten($border-color, 2%)
    background-color: $white
    &::after
      content: " "
      position: absolute
      right: 0
      top: 0
      width: var(--progress)
      height: 100%
      background-color: $blue
      transition: width .1s linear
    &--loading
      &::before
        $stripes-size: 24px
        $stripes-color: transparentize($black, (1 - .08))
        content: " "
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: -46px
        background: linear-gradient(-45deg,$stripes-color 25%,transparent 25%,transparent 50%,$stripes-color 50%,$stripes-color 75%,transparent 75%,transparent)
          size: $stripes-size $stripes-size
        animation: stripes .6s linear infinite
  .h-0
    height: 0 !important
  &__loading
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: transparentize($white, (1 - .9))
    border-radius: 0 0 10px 10px
    @include SpinnerLoading(64px, 4px, $blue)
    position: fixed
    pointer-events: auto !important
    transition: opacity .12s ease-in-out
    z-index: 5
    &--hidden
      opacity: 0
      pointer-events: none !important