$gap: 24px

.c-menu
  .m-b-20
    margin-bottom: 20px
  &__container
    padding: 32px 22px 90px 34px
  &__tree
    &--closed
      height: (56px + $gap)
    &--editable
      height: 510px
  &__box
    padding: 27px 40px 42px 48px
    @include Xl_Screen
      padding: 27px 55px 42px 63px
  &__button
    min-width: 205px
    line-height: 46px
    padding: 0 15px
    transition: color $duration, background-color $duration
    &--lang
      color: #6d7278
      min-width: 104px
      border-color: #7ed321
      background-color: #f7f7f7
      &:hover
        @include L_Screen
          background-color: transparentize(#a1d76a, (1 - .5))
      &--active
        color: $blue-800
        background-color: #a1d76a
        pointer-events: none
    &--enLang
      margin-left: 19px
    &--white
      border-color: #7ed321
      background-color: #f7f7f7
      box-shadow: 0 2px 4px 0 transparentize(black, (1 - .09))
      @include SpinnerLoading(24px, 3px, #7ed321)
      @include L_Screen
        &:hover
          color: $white
          background-color: #7ed321
  &__item
    $border: transparentize(black, (1 - .1))
    border-color: $border
    background-color: #f0f3f8
    & + .dragArea__form
      background-color: #f0f3f8
    &--parent
      .c-menu__item_title
        &::before
          content: " "
          width: 21px
          height: 12px
          background: url("/../images/ic__top-arrow--blue.svg") no-repeat center
            size: contain
          margin: 0 26px 0 20px
          pointer-events: none
          transform: rotate(180deg)
          transition: transform $duration
    &--child
      padding-right: 28px
    &_title
      padding: 7px 0
    &_btn
      @include Size( 54px )
      border-color: $border
      background:
        position: center
        repeat: no-repeat
      filter: none
      transition: filter $duration
      &--unvisible
        background:
          image: url("/../images/ic_unvisibility--orange.svg")
          size: 32px auto
        @include L_Screen
          &:hover
            filter: drop-shadow(0 0 7px transparentize(#fa6400, (1 - .79)))
      &--visible
        background:
          image: url("/../images/ic_visibility--orange.svg")
          size: 32px auto
        @include L_Screen
          &:hover
            filter: drop-shadow(0 0 7px transparentize(#fa6400, (1 - .79)))
      &--edit
        background:
          image: url("/../images/ic__pen-green.svg")
          size: auto 30px
        @include L_Screen
          &:hover
            filter: drop-shadow(0 0 7px transparentize(#6dd400, (1 - .85)))
      &--delete
        background:
          image: url("/../images/ic_delete--red.svg")
          size: auto 30px
        @include L_Screen
          &:hover
            filter: drop-shadow(0 0 7px transparentize(#e02020, (1 - .79)))
      &--drag
        cursor: grab
        background:
          image: url("/../images/ic_priority--blue.svg")
          size: auto 30px
        @include L_Screen
          &:hover
            filter: drop-shadow(0 0 7px transparentize(#32c5ff, (1 - .79)))
  &__draggable
    & > .c-menu__dragArea
      padding: 20px 0 30px
  &__child
    margin-right: 10%
    .c-menu__dragArea
      padding-top: $gap
      min-height: $gap
      //margin-top: $gap
    .c-menu__tree
      .c-menu__item
        background-color: transparentize(#f0f3f8, (1 - .48))
        & + .dragArea__form
          background-color: transparentize(#f0f3f8, (1 - .48))
  &__dragArea
    min-height: (56px + 16 - 16)
  &__tree--disabled
    .c-menu__item
      border-color: #e1e1e1
      background-color: #f9fdff !important
      &::before
        opacity: .75
        filter: grayscale(1)
    .c-menu__item_title
      color: #6d7278
    .c-menu__item_btn
      &:not(.c-menu__item_btn--visible)
        opacity: .7
        filter: grayscale(1)
    .c-menu__item_btn--delete
      opacity: .4 !important
  .ghost
    .c-menu__item
      opacity: 0.4
      background-color: #c8ebfb
  .modal
    &__col
      &--disable
        pointer-events: none
        opacity: .7
      &:first-child
        margin-left: 15px
      &:last-child
        margin-right: 15px
    &__row
      &:not(:last-child)
        margin-bottom: 34px
    &__body
      padding-bottom: 40px
    &__header
      min-height: 60px
      padding: 10px 39px 10px 27px
      background-color: #effaff
    &__article
      .select
        &__body
          margin-bottom: 20px
        &__options
          max-height: 200px
    &__button
      @include Size( 22px )
      &::before, &::after
        content: " "
        position: absolute
        top: 50%
        left: 50%
        width: 100%
        height: 2px
        border-radius: 2px
        background: $red
      &::before
        transform: translate(-50%, -50%) rotate(45deg)
      &::after
        transform: translate(-50%, -50%) rotate(-45deg)
    &__content
      padding: 45px 50px 60px
    &__label
      width: (110px + 18)
    &__input
      color: $blue-800
      border-color: #cfd2d5
      &::placeholder
        font-size: 15px
    &__submit
      $c: #7ed321
      width: calc(100% - 52px - 51px)
      border-color: $c
      background: #9edb5b
      line-height: 46px
      box-shadow: 0 2px 4px 0 transparentize(black, (1 - .09))
      @include SpinnerLoading(24px, 3px, white)
      @include L_Screen
        &:hover
          background-color: $c
    .select__option--selected
      background-color: white
      &:hover
        background-color: #359be0
    .select
      &::after
        content: ' '
        position: absolute
        top: 50%
        left: 13px
        width: 18px
        height: 10px
        background: url("/../images/ic__top-arrow--blue.svg") no-repeat center
          size: contain
        vertical-align: middle
        pointer-events: none
        transform: translateY(-50%) rotate(180deg)
        transition: transform $duration
      &--visible
        &::after
          transform: translateY(-50%) rotate(0deg)
      &__input
        color: $blue-800
        border-color: #cfd2d5
        background-color: #fafcff
        font:
          size: 16px
          weight: 300
        &::before
          color: #b2b4b4
          opacity: 1
          font:
            size: 15px
            weight: 300
  .confirm
    padding: 20px 23px 18px
    &__title
      margin-bottom: 42px
    &__button
      width: 90px
      line-height: 38px
      color: $black
      &:not(:last-of-type)
        margin-left: 12px
      &--submit
        color: $blue-200
        background: transparentize($sail, (1 - .64))
        @include L_Screen
          &:hover
            background-color: $sail
      &--discard
        @include L_Screen
          &:hover
            background-color: darken(#f2f2f2, 3%)
  .p-20
    padding: 30px 0
  .dragArea__form
    margin-top: 18px
    padding: 18px 50px 25px
    border-color: rgba(0,0,0,0.1)
    &_row
      margin-bottom: 18px
    &_input
      &::placeholder
        direction: rtl
    .select__option--selected
      background-color: white
      &:hover
        background-color: #359be0
    .select
      &::after
        content: ' '
        position: absolute
        top: 50%
        left: 13px
        width: 18px
        height: 10px
        background: url("/../images/ic__top-arrow--blue.svg") no-repeat center
          size: contain
        vertical-align: middle
        pointer-events: none
        transform: translateY(-50%) rotate(180deg)
        transition: transform $duration
      &--visible
        &::after
          transform: translateY(-50%) rotate(0deg)
      &__input
        color: $blue-800
        border-color: #cfd2d5
        background-color: #fafcff
        font:
          size: 16px
          weight: 300
        &::before
          color: #b2b4b4
          opacity: 1
          font:
            size: 15px
            weight: 300
    &--disable
      pointer-events: none
      opacity: .7
    .select__options
      max-height: 155px
