.int-shw-page
  &__title
    margin:
      bottom: 30px
    padding: 0 0 0 70px
    @include Sm_Screen
      margin-top: 30px
      padding: 0 0 0 40px
    &_flower
      top: 0
      @include Sm_Screen
        top: -40px
  &__list
    @include L_Screen
      padding:
        right: 50px
    @include Md_Screen
      padding: 40px 0 0 0
      margin-top: 30px
    &_item
      line-height: 2
    &_flower
      @include L_Screen
        top: 32%
        transform: translateY(-50%) scaleX(-1)
      @include Md_Screen
        top: 0