.aside
  width: 350px
  background: $white
  &__header
    padding: 0 16px
    min-height: 80px
    background: #bde8fa
    box-shadow: 0 8px 30px 0 transparentize(#1e87f0, ( 1 - .2 ))
    margin:
      bottom: 24px
    &_logo
      height: 30px
    &_button
      width: 32px
      height: 24px
      &--line
        right: 0
        height: 4px
        &--#{1}
          top: 0
          width: 100%
        &--#{2}
          top: 50%
          width: 100%
          transform: translateY(-50%)
        &--#{3}
          bottom: 0
          width: 60%
  &__menu
    &_item
      padding: 11px 35px 10px 40px
      &:not(:last-child)
        border:
          bottom: 1px solid #dfe8f0
      &::after
        content: " "
        position: absolute
        width: 7px
        height: 11px
        top: 50%
        left: 26px
        background: url("/../images/ic_angle--blue.svg") no-repeat center
          size: contain
        transform: translateY(-50%)
        pointer-events: none
      &_icon
        width: 20px
        margin:
          left: 25px