$border: #c8edfc
$pagination-width: 30px
$pagination-height: 30px

.pagination
  &__item
    color: #788b90
    min-width: $pagination-width
    height: $pagination-height
    line-height: $pagination-height
    background-color: #fafcfe
    border:
      right: 1px solid $border
      top: 1px solid $border
      bottom: 1px solid $border
    overflow: hidden
    &:first-child
      border-left: 1px solid $border
      border-radius: $radius 0 0 $radius
    &:last-child
      border-radius: 0 0 $radius $radius
    button
      color: #788b90
      padding: 0 5px
      min-width: $pagination-width
      height: $pagination-height
    &--selected
      color: $white !important
      background-color: $blue-100
    &--page
      position: relative
      &::before
        content: " "
        position: absolute
        width: 6px
        height: 10px
        top: 50%
        left: 50%
        background: url("/../images/ic_angle--gray.svg") no-repeat center
          size: contain
    &--first-page
      &::before
        transform: translate(-50%, -50%)
    &--last-page
      &::before
        transform: translate(-50%, -50%) rotate(180deg)