.progress
  top: 0
  left: 0
  height: 3px
  background-color: transparentize($bayoux, (1 - .4))
  box-shadow: 0 0 7px 0 transparentize($bayoux, (1 - .41))
  z-index: 400
  &__bar
    &::before, &::after
      content: " "
      position: absolute
      top: 0
      left: 0
      bottom: 0
      background-color: $bayoux
    &::before
      animation: progressBar1 2.1s cubic-bezier(.65, .81, .73, .4) infinite
    &::after
      animation: progressBar2 2.1s cubic-bezier(.16, .84, .44, 1) infinite
        delay: 1.15s

