.publish
  padding: 25px 13px 15px 14px
  &__status
    padding-top: 3px
    line-height: 41px
    &--accept
      $color: #33c15d
      color: $white
      background-color: $color
      border-color: darken($color, 8%)
    &--published
      $c: #33c15d
      color: $c
      border:
        color: $c
      background: transparentize($c, .91)
    &--ready-published
      $c: #7ed321
      color: $c
      border:
        color: $c
      background: transparentize($c, .91)
    &--pending
      $color: #ffb540
      color: $white
      border-color: darken($color, 7%)
      background: $color
    &--reject
      $black: #444
      color: $black
      border-color: lighten($black, 20%)
      background-color: lighten($black, 60%)
    &--recycle
      color: $red
      border-color: lighten($red, 20%)
      background-color: lighten($red, 55%)
    &--not-published
      color: $red
      border:
        color: $red
      background: #f3e2e3
  &__submit
    margin-bottom: 7px
    line-height: 44px
    &::after
      content: ' '
      display: inline-block
      width: 22px
      height: 11px
      border:
        left: 10px solid transparent
        right: 10px solid transparent
        top: 10px solid $white
      vertical-align: middle
      margin: 4px 10px 0 0
      pointer-events: none
  .dropdown
    top: 52px
  .m-b-24
    margin-bottom: 24px