.table
  border-color: #d2e3f4
  background-color: #f0f3f8
  &__header
    border-bottom: 1px solid #d2e3f4
  &__row
    &:not(:last-of-type)
      border-bottom: 1px solid #d2e3f4
  &__th
    padding: 15px 10px
  &__td
    padding: 10px
  &__th, &__td
    &:first-child
      width: (17px + 14 + 4)
      padding:
        left: 0
    &\:xl
      flex: 5 1 0
    &\:l
      flex: 2 1 0
  &__button
    border-color: #dfe8f0
    padding: 6px 7px 6px 9px
    &::after
      content: " "
      display: inline-block
      width: 6px
      height: 10px
      background: url("/../images/ic_angle--blue-100.svg") center no-repeat
        size: contain
      transform: rotate(-90deg)
      pointer-events: none
      margin-right: 5px
      vertical-align: middle
  &__cover
    border-color: #dfe8f0