.i-page
  padding: 48px 0 98px
  background: #ecf8fd
  .m
    &-r
      &-10
        margin:
          right: 10px
  &__flower_line
    width: 110px
    top: -50px
    &--right
      right: -47px
    &--left
      left: -47px
  &__box
    min-height: 34px
    padding: 4px 14px
    border:
      color: #bde8fa
    background: #eff3f7
  &__title
    cursor: default
    margin: -6px 50px 0
  &__text
    cursor: default
    line-height: 1.94
  &__social
    @include Size( 16px )
    &:not(:last-of-type)
      margin:
        left: 20px
  &__list
    &_item
      &:not(:last-of-type)
        margin:
          bottom: 20px
      &::before
        content: ''
        @include Size( 10px )
        border: 1px solid $blue
          radius: 50%
        background: #bde8fa
        margin: 0 0 4px 15px
        pointer-events: none
  &__footer
    $xLarge: 75px
    $large: 50px
    margin:
      top: 50px
    @include Xl_Screen
    padding: 50px $xLarge 5px
    @include L_Screen
      padding: 50px $large 5px
    &::before
      content: " "
      position: absolute
      top: 0
      left: 50%
      height: 2px
      background: radial-gradient(circle at 50% 0, #5bc6f3, #ffffff 100%)
      transform: translateX(-50%)
      @include Xl_Screen
        width: calc(100% + #{( $xLarge * .64 )})
      @include L_Screen
        width: calc(100% + #{( $large * .64 )})
  .inner-box
    margin:
      top: 45px
  .m
    &-b
      &-10
        margin:
          bottom: 10px
      &-20
        margin:
          bottom: 20px
  @include L_Screen

    .l\:
      &m
        &-r
          &-20
            margin:
              right: 20px


